body {
    background-color: #7c7c7c;
    text-align: center;
}
.form-control {
    width: 300px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #b5b5b5;
}
.form-label {
    margin: auto;
    margin-top: 15px;
    text-decoration: underline
}
.container-md {
    margin: auto;
    margin-top: 15px;
}
.ol {
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}